<div id="container">
<header class="main">
<h1 id="main_title">Nathan Webster Music</h1>
</header>

<body class="main">
	<div class="container-fluid">
		<div class="tile col-sm-12 col-md-4 ">
			<a href="/downloads">
				<img src="../images/eighthnote.png">
				<p>Download something I've written. Yep, it's free.</p>
			</a>
		</div>
		<div class="tile col-sm-12 col-md-4">
			<a href="/map">
				<img src="../images/map pin.png">
				<p>Drop a pin, or see where my music has been downloaded or performed.</p>
			</a>
		</div>
		<div class="tile col-sm-12 col-md-4" id="contactbox">
			<a href="/contactme">
				<img src="../images/about me.png">
				<p>Contact me. I'm apparently always wearing a tux.</p>
			</a>
		</div>
	</div>
</body>
<footer>
	<p id="copyright">&copy; Nathan Webster 2016</p>
</footer>
</div>
