
<body class="map">

    <h3>Here are some places where my music has been downloaded or performed.</h3>
    <div id="map"></div>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAX-hjA6Zz_UgfRENGUJ9GhRNaDdqlM8ss&callback=initMap" defer>
    </script>
    <br><br>
    <form action="/marker/create/" method="POST">
      Address: <input type="text" id="inputTextAddress" style=" width:200px" title="Address to Geocode" />
      <input type="submit" id="inputButtonGeocode" style="width:150px" title="Add Pin" value="Add Pin" />
    </form>


</body>
