* {
	padding: 0;
	margin: 0;
}
/* responsive template */
img, embed, object, video {
	max-width: 100%;
}
nav a, button {
	min-height: 48px;
	min-width: 48px;
}
/* end responsive template */


html, body {
	height: 100%;
	//background: #ffffff url("../assets/linedpaper.png") repeat fixed center;
}
#container {
	//border: solid red 1px;
	min-height: 110%;
	position: relative;
}
header {
	//background-color: #3C6478;
	//color: white;
}
header.main {
	//border: solid red 1px;
	height: 100%;
	width: 100%;
	padding: 90px 0px;
	margin: 0px auto 0px auto;
}
header.content {
	//border: solid red 1px;
	display: block;
	height: 100px;
}
body {
	margin: 0;
	background-color: white;
	padding-bottom: 100px; /*height of footer*/
}
footer {
	//border: solid purple 1px;
	height: 100px;
	width: 100%;
	position: absolute;
	left: 0;
	}
table, td, th {
	width: auto;
	border: 1px solid black;
	padding: 5px;
}
.tile {
	//border: solid purple 1px;
	text-align: center;
}
.tile a {
}

h1 {
	font-family: 'Arvo', Georgia, Times, serif;
	font-size: 4em;
	line-height: 1.2em;
}

p {
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	font-size: 130%;
	line-height: 1.5625em;
}
a {
	p {
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	font-size: 130%;
	line-height: 1.5625em;
}
}
ul {
	//border: solid blue 1px;

}
li {
	//border: solid green 1px;

}


img {
	//border: solid red 1px;
}

#map {
        width: 100%;
        height: 300px;
        background-color: grey;
        border: 1px solid black;
      }
.map h3 {
	padding-left: 50px;
}

/*link behavior*/
a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:active {
    text-decoration: underline;
}

#hear {
	padding-bottom: 40px;
}
h3.signed {
	text-align: right;
	padding-right: 50px;
}
.form {
	padding-top: 50px;
}

.letter {
	border: 1px solid black;
	border-radius: 20px;
}
.letter h3 {
	margin-right: 0px;
	max-width: 100%;
	word-wrap: break-word;
}

/* Form validation for contacts page */

input.ng-pristine {
	//background-color: pink;
}

/* End form validation */

@media only screen and (max-width: 767px) {
	body {
		padding: 10px;
	}
	div.tile {
		margin-bottom: 150px;
	}
	.tile a img {
		width: 100px;
		height: 100px;
		margin-bottom: 20px;
	}
	.navbar-toggle .icon-bar {
		border: 1px solid black;
	}
	header.content {
		height: 30px;
	}
	p.hear {
		font-size: .02em;
	}

}


@media only screen and (max-width: 991px) {
	.tile a img {
		width: 150px;
		height: 150px;
		margin-bottom: 30px;
	}
	div.tile {
		margin-bottom: 100px;
	}
	#copyright {
	//position: fixed;
	bottom: 0;
	text-align: center;
	}
	footer{
    height: 100px;
    width:100%;
    position: absolute;
    left: 0;
    bottom: -50px;
	}
	body.main {
		padding-bottom: 0;
	}
	#contactbox {
		margin-bottom: 150px;
	}
	header.content {
		height: 60px;
	}
	p.hear {
		font-size: 1.3em;
	}

}

@media only screen and (max-width: 1200px) {
	.tile a img {
		width: 180px;
		height: 180px;
		margin-bottom: 40px;
	}
	#main_title {
	text-align: center;
	font-size: 4em;
	}
	#copyright {
	position: absolute;
	bottom: 0;
	left: 50%;
    -webkit-transform: translateX(-50%);
	transform: translateX(-50%)
	}
	div.container-fluid {
		margin-bottom: 100px;
	}
	footer {
	//border: solid blue 1px;
	height: 100px;
	}
	header.main {
		margin-bottom: 0px auto 100px auto;
		padding: 90px 0px;
	}
	a:hover {
    text-decoration: underline;
	}
}

@media only screen and (min-width: 1200px) {
	header.main {
	//border: solid red 1px;
	padding: 90px 0px;
	margin: 0px auto 100px auto;
	}
	body {
		padding-bottom: 0px;
	}
	div.container-fluid {
		margin: 20px auto 50px auto;
	}
	#container {
		min-height: 100%;
	}
	.tile a img {
		width: 250px;
		height: 250px;
		margin-bottom: 40px;
	}
	.tile a p {
		width: 350px;
		margin: 0 auto;
	}
	#main_title {
	text-align: center;
	font-size: 730%;
	}
	#copyright {
	position: absolute;
	bottom: 0;
	left: 50%;
    -webkit-transform: translateX(-50%);
	transform: translateX(-50%)
	}
	.pdfDisplay img {
		//border: solid blue 1px;
		width: 300px;
		height: 300px;
	}
	footer {
	//border: solid blue 1px;
	height: 100px;
	}
	div.tile > a > p {
		opacity: 0;
		text-decoration: none;
	}
	div.tile:hover > a p {
    text-decoration: none;
    opacity: 100;
    transition: all 0.5s ease 0s;
	}
}

@media only screen and (max-height: 800px) {
	.tile a img {
		width: 180px;
		height: 180px;
		margin-bottom: 40px;
	}
	#main_title {
	text-align: center;
	font-size: 5em;
	}
	#copyright {
	position: absolute;
	bottom: 0;
	left: 50%;
    -webkit-transform: translateX(-50%);
	transform: translateX(-50%)
	}
	div.container-fluid {
		margin-bottom: 30px;
	}
	footer {
	//border: solid blue 1px;
	height: 100px;
	}
	header.main {
		margin: 0px auto 40px auto;
		padding: 50px 0px;
	}
	a:hover {
    text-decoration: underline;
	}
}
